.app_header {
    height: 84px;
    padding: 0 27px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    &__menu {
        text-align: left;

        .toggle-menu {
            width: 28px;
            height: 24px;
            position: relative;
            margin: 0px;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
            cursor: pointer;

            &.open {
                span {
                    &:nth-child(1) {
                        top: 6px;
                        transform: rotate(135deg);
                    }

                    &:nth-child(2) {
                        top: 8px;
                        opacity: 0;
                        left: -60px;
                    }

                    &:nth-child(3) {
                        top: 6px;
                        transform: rotate(-135deg);
                    }
                }
            }

            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                opacity: 1;
                left: 0;
                // @apply bg-primary-400;
                background: theme('colors.primary.300');
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;

                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2) {
                    top: 8px;
                }

                &:nth-child(3) {
                    top: 16px;
                }
            }
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 688px;
            z-index: 999;
            opacity: 0;
            visibility: hidden;
            transition-delay: 0s;
            transform: translateX(0);
            transition: all 0.2s cubic-bezier(0.2, 0.06, 0.05, 0.95);

            &.open {
                opacity: 1;
                visibility: visible;
            }

            .mark-menu {
                content: '';
                position: absolute;
                display: none;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                background: #000;
                opacity: 0.7;
                z-index: -1;
            }

            .close-menu,
            .menu_content {
                z-index: 10;
            }

            .close-menu {
                display: none;
                padding: 10px 15px;
                justify-content: flex-end;

                span {
                    font-weight: 700;
                    color: #ffffff;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }

            .menu_content {
                display: flex;
                background: #ffffff;
                align-items: flex-start;
                flex-direction: column;

                .wrap__item {
                    width: 100%;
                    display: block;
                    cursor: pointer;
                    border-bottom: 1px solid #fff;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .menu__item,
                    .child__item {
                        display: block;
                        color: #ffffff;
                        transition: all 0.3s
                            cubic-bezier(0.645, 0.045, 0.355, 1);
                    }

                    .menu__item {
                        background: #00aced;
                    }

                    .child__item {
                        background: #36d1dc;
                        border-bottom: 1px solid #fff;

                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &__logo {
        width: 100%;
        max-width: 332px;
    }

    &__contact {
        text-align: end;

        .ant-btn {
            width: 100%;
            max-width: 200px;
        }
    }
}
