.app_header {
    width: 100%;
    height: 64px;
    padding: 0 27px;
    @apply bg-dark-500;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

    header {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;

        .header__logo {
            width: 144px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            @apply px-4;
        }

        .header__right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .header__nav {
                width: 100%;
                align-items: center;
                justify-content: flex-end;
                @apply hidden md:flex;

                .nav_item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    transition: all 0.3s ease;
                    @apply mr-[36px] lg:mr-[46px];

                    &:hover > .nav_item__text {
                        @apply text-primary-400;
                    }

                    // &:hover > .nav_item__icon {
                    //     svg,
                    //     path,
                    //     rect {
                    //     }
                    // }

                    &:last-child .nav_item__badge {
                        display: flex;
                    }

                    &__icon {
                        width: 32px;
                        height: 32px;
                        margin-right: 8px;
                        position: relative;
                    }
                    &__text {
                        @apply font-noto-san;
                        @apply text-light-white;
                        @apply font-light text-16;
                    }

                    &__badge {
                        position: absolute;
                        top: -1px;
                        right: -7px;
                        display: none;
                        width: 16px;
                        height: 16px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        @apply bg-primary-500;
                        @apply text-light-white;
                        @apply font-inter text-10 font-normal;
                    }
                }
            }

            .header__menu {
                text-align: left;

                .toggle-menu {
                    width: 26px;
                    height: 26px;
                    position: relative;
                    margin: 0px;
                    @apply ml-[10px];
                    transform: rotate(0deg);
                    transition: 0.5s ease-in-out;
                    cursor: pointer;

                    &.open {
                        span {
                            &:nth-child(1) {
                                top: 12px;
                                transform: rotate(135deg);
                            }

                            &:nth-child(2) {
                                top: 14px;
                                opacity: 0;
                                left: -60px;
                            }

                            &:nth-child(3) {
                                top: 12px;
                                transform: rotate(-135deg);
                            }
                        }
                    }

                    span {
                        display: block;
                        position: absolute;
                        height: 3px;
                        width: 100%;
                        opacity: 1;
                        left: 0;
                        @apply bg-primary-400;
                        transform: rotate(0deg);
                        transition: 0.25s ease-in-out;

                        &:nth-child(1) {
                            top: 2px;
                        }

                        &:nth-child(2) {
                            top: 11px;
                        }

                        &:nth-child(3) {
                            top: 20px;
                        }
                    }
                }

                .dropdown-menu {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    min-width: 280px;
                    max-height: calc(100vh - 55px);
                    overflow-y: auto;
                    z-index: 999;
                    opacity: 0;
                    visibility: hidden;
                    transition-delay: 0s;
                    transform: translateX(0);
                    transition: all 0.2s cubic-bezier(0.2, 0.06, 0.05, 0.95);

                    &.open {
                        opacity: 1;
                        visibility: visible;
                    }

                    .menu_content {
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        @apply bg-gray-400;
                        z-index: 10;

                        .menu__item {
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            &:hover > a {
                                font-weight: 500;
                                transition: all 0.2 ease;
                            }
                            &:hover > .seperator {
                                opacity: 0.3;
                                transition: opacity .2;
                            }

                            a {
                                color: #ffffff;
                                @apply py-[23px] pl-[32px];
                                @apply font-noto-san font-light text-18;
                            }

                            .seperator {
                                width: 100%;
                                height: 1px;
                                opacity: 0.15;
                                background: #ffffff;
                            }

                            &:last-child .seperator {
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}
