@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-Thin.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 100;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-ExtraLight.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 200;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-Light.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-Regular.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-Medium.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-SemiBold.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../../../public/fonts/Inter-Bold.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 700;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('../../../public/fonts/NotoSansJP-Thin.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 100;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('../../../public/fonts/NotoSansJP-ExtraLight.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 200;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('../../../public/fonts/NotoSansJP-Light.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 300;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('../../../public/fonts/NotoSansJP-Regular.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 400;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('../../../public/fonts/NotoSansJP-Medium.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('../../../public/fonts/NotoSansJP-SemiBold.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 600;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('../../../public/fonts/NotoSansJP-Bold.ttf') format('opentype');
    font-style: normal;
    font-display: auto;
    font-weight: 700;
}
