.healthy-app {
    flex: 1 0 auto;
    height: 100%;
    background-color: #ffffff;
    .app-content {
        flex: 1;
    }
}

.app-container,
.app-container-fluid {
    width: 100%;
    margin: 0 auto;
}

.app-container-fluid {
    padding: 0 15px;
}

@media (min-width: 1280px) {
    .app-container {
        max-width: calc(100vw - 320px);
    }
}

@media (max-width: 1279px) {
    .app-container {
        max-width: calc(100vw - 140px);
    }
}

@media (max-width: 768px) {
    .app-container {
        max-width: 100%;
    }
}
